{% extends 'base.html' %}

{% block title %}Edit Item{% endblock %}

{% block content %}
<div class="container my-4">
    {% if messages %}
        <div class="alert alert-info">
            {% for message in messages %}
                <div class="{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <h2>{{ item.name }}</h2>

    <form method="post" enctype="multipart/form-data" class="mb-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update</button>
    </form>

    
        <div class="row justify-content-lg-center">
            {% for image in item_images %}
            <div class="col-md-3 mb-3">
                <div>
                    <div class="ml-3">
                        <img src="{{ image.image.url }}" alt="Image" class="card-img">
                    </div>
                    <div class="card-body text-center">
                        <a href="{% url 'delete_image' image.id %}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    

    <div class="add-image-section">
        <h3>Add New Image</h3>
        <form method="post" action="{% url 'add_image' item.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <input type="file" name="image" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-success">Add Image</button>
        </form>
    </div>
</div>
{% endblock %}
